body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    /* background-image: url('images/img7.jpg'); */
    /* background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

/* Style for the header, paragraph, and video frame with initial state for animation */
.animated-element {
    opacity: 0; /* Initially hidden */
    transform: translateY(-50px); /* Initially shifted up */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
}

/* Class to make the elements visible and animate them into place */
.animated-element.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Original position */
}

.header {
    padding-top: 85px;
    height: 160px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 156px;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B1F28;
}

.nav-logo {
    height: 64px;
    padding: 8px;
}

.nav-li {
    float: left;
}

.nav-a {
    display: block;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 20px;
    background-color: #1B1F28;
}

.nav-a:hover {
    background-color: #0E1B20;
}

.nav-a-active {
    display: block;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 20px;
    background-color: #363941;
}

.footer {
    padding-top: 50px;
    text-align: center;
    background: #1B1F28;
    color: white;
    font-size: 18px;
    min-height: 400px;
    flex: auto;
}

.horizontal-accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.accordion-item {
    display: flex;
    align-items: center;
}

.acc-img {
    height: 120px;
    cursor: pointer;
    margin: 0 5px;
}

.expand {
    flex: 1 1 auto;
    width: auto;
    color: white;
    background-color: #131720;
}

.small {
    flex: 1 1 0px;
    width: 0px;
    height: 0px;
    color: white;
    background-color: #131720;
}

.small>.card-body {
    opacity: 0;
}

.expand>.card-body {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.cp-text {
    color: #888B91;
}

.d-block {
    width: 100%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.slideshow-container {
    position: flex;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.mySlides {
    display: none;
   
}

.img-container {
    margin-top: 95px;
    justify-content: center;
    align-items: center;
    min-height: auto;
    height: 70vh; /* Adjust based on your design needs */
}

.img-container img {
    width: 500px; /* Set your desired width */
    height: 500px; /* Set your desired height */
    object-fit: contain; /* Ensures the image fits within its container without distortion */
}

.info {
    font-size: 20px;
    color: white;
    bottom: 10px;
    margin-top: -80px;
    background-color: rgb(28, 26, 26);
    padding: 10px;
    z-index: 1;
}

.prev, .next {
    top: 50%;
    width: auto;
    margin-top: 20px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}