body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    padding-top: 85px;
    height: 160px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 156px;
}

/* Style for the header, paragraph, and video frame with initial state for animation */
.animated-element {
    opacity: 0; /* Initially hidden */
    transform: translateY(-50px); /* Initially shifted up */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
}

/* Class to make the elements visible and animate them into place */
.animated-element.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Original position */
}

/* Rounded corners for the video frame */
.rounded-video {
    border-radius: 30px;
    overflow: hidden; /* Ensure the iframe content is clipped to the rounded corners */
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B1F28;
}

.nav-logo {
    height: 64px;
    padding: 8px;
}

.nav-li {
    float: left;
}

.nav-a {
    display: block;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 20px;
    background-color: #1B1F28;
}

.nav-a:hover {
    background-color: #0E1B20;
}

.nav-a-active {
    display: block;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 20px;
    background-color: #363941;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.footer {
    padding-top: 50px;
    text-align: center;
    background: #1B1F28;
    color: white;
    font-size: 18px;
    min-height: 400px;
    flex: auto;
}

.horizontal-accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.accordion-item {
    display: flex;
    align-items: center;
}

.acc-img {
    height: 120px;
    cursor: pointer;
    margin: 0 5px;
}

.expand {
    flex: 1 1 auto;
    width: auto;
    color: white;
    background-color: #131720;
}

.cp-text {
    color: #888B91;
}

.small {
    flex: 1 1 0px;
    width: 0px;
    height: 0px;
    color: white;
    background-color: #131720;
}

.small>.card-body {
    opacity: 0;
}

.expand>.card-body {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.d-block {
    width: 100%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
